In [2]:
import json                     # module pour load le file
import re                       # module pour retourner les hasthtags
from textblob import TextBlob   # module pour analyser le sentiment du tweet
import pandas as pd             # module pour visualiser et comparer les tweets

# Data utilisé pour la création des dictionnaires pour compter le nombres x de y dans les tweets
file = open("sample.json","r")
data =json.load(file)
file.close()

# Data utilisé pour analyser visuellement les différentes caractéristiques d'un tweet
data2 = pd.read_json("sample.json")
df_data = pd.DataFrame(data2)

In [ ]:
class Tweet :
    def __init__(self,id_tweet,location_tweet,creation_tweet,retweet_count,tweet_language,tweet_text) :
        self.id = id_tweet
        self.location = location_tweet
        self.created = creation_tweet
        self.retweet = retweet_count
        self.language = tweet_language
        self.text = tweet_text
    
    def __str__(self):
        return f"Tweet id : {self.id}\nAuthor Location : {self.location} \nTweet Creation : {self.created} \nNumber of Retweets : {self.retweet} \nTweet Language : {self.language} \nTweet Text : {self.text}"
    
    def get_author(self):
        id_tweet = self.id
        return id_tweet
    
    def get_text(self):
        return f"The text of the tweet : {self.text}"
    
    def get_hashtags(self):
        return re.findall(r"#(\w+)", self.text)

    def get_mention(self):
        return re.findall(r"@(\w+)", self.text)
    
    def get_sentiment(self):
        text = TextBlob(self.text)
        text_polarity = text.sentiment.polarity
        if text_polarity > 0 :
            return "Positive"
        elif text_polarity < 0 :
            return "Negative"
        else :
            return "Neutral" 


#instance/ objets de la class
tweets = [Tweet(tweet["id"],tweet["AuthorLocation"],tweet["CreatedAt"],tweet["RetweetCount"],tweet["TweetLanguage"],tweet["TweetText"]) for tweet in data]

In [ ]:
# for the Top K Hashtags -> 2 functions

# The first one : all_hashtag() : return all the hashtags of the json file
def all_hashtag():
    l = []
    for tweet in tweets:
        if tweet.get_hashtags()== [] :
            continue
        else :
            x = tweet.get_hashtags()
            for hashtag in x :
                l.append(hashtag)
                
    return l
    
#The second one : top_hashtag(k) : return the top k (index entered by the user) hashthag by using the all_hashtag function
def top_hashtag(k):
    hashtag = all_hashtag()               
    hashtag_count = {}                            # initiate dictionnary for counting each occurence of hashtags
    for e in hashtag :                            
        if e in hashtag_count :                   # checking if e is in hashtag
            hashtag_count[e] += 1                 # if yes we add 1 to it, so the count is updated
        else :
            hashtag_count[e] = 1                  # if not, we create a new key, and a count equal to 1

    hashtag_count = dict(sorted(hashtag_count.items(),key = lambda x : x[1], reverse=True)) # ascending values
    temp = list(hashtag_count.items())[:k]        # converting to list for slicing to get the first element till index k
    top_k_hashtag = dict(temp)                    # reverting into dictionnary 

    return top_k_hashtag                          

#########################################################################################################################

#for the top K users -> 2 functions 

# The first one : all_users() : return all the users of the json file
def all_users():
    l = []
    for tweet in tweets:
        user = tweet.get_author()
        l.append(user)
                
    return l
    
def top_users(k):
    users = all_users()
    user_ntweet = {}
    for user in users :
        if user in user_ntweet :
            user_ntweet[user] += 1
        else :
            user_ntweet[user] = 1

    user_ntweet = dict(sorted(user_ntweet.items(),key = lambda x : x[1], reverse=True))
    temp = list(user_ntweet.items())[:k]
    top_k_users = dict(temp)

    return top_k_users


#########################################################################################################################

# for the top K mentions -> 2 functions 

# The first one : all_mentions() : return all the mentions of the json file
def all_mentions():
    l = []
    for tweet in tweets:
        if tweet.get_mention()== [] :   # verify if the value is "[]" <- no value ; in this case we pass to next tweet
            continue
        else :
            mentions = tweet.get_mention()  # we put the mentions of the tweet into a variable
            for mention in mentions :       # we take each mention (they may be separated in concatenated list for example : [[mention]])
                l.append(mention)           # we put it in our final list
                
    return l

def top_mention(k):
    mentions = all_mentions()
    mention_ntweet = {}
    for mention in mentions :
        if mention in mention_ntweet :
            mention_ntweet[mention] += 1
        else :
            mention_ntweet[mention] = 1

    mention_ntweet = dict(sorted(mention_ntweet.items(),key = lambda x : x[1], reverse=True))
    temp = list(mention_ntweet.items())[:k]
    top_k_mentions = dict(temp)

    return top_k_mentions

#########################################################################################################################


def top_topics():
    pass

def ntweet_per_user():
    pass

def ntweet_per_hashtag():
    pass

def ntweet_per_topic():
    pass

def alltweet():
    pass

In [ ]:
# Test for Top k hashtags
all_hashtag()
top_hashtag(3)

{'A': 2, 'hdatasystems': 1, 'Artificia': 1}

In [ ]:
# Test for Top k users
all_users()
top_users(4)

{'1421423964845395969': 2,
 '1415291947560828933': 1,
 '1415291877897605120': 1,
 '1415291886860967940': 1}

In [ ]:
# Test for Top k mentions
all_mentions()
top_mention(4)

{'HDataSystems': 2, 'adgpi': 1, 'pacorjo': 1, 'marcusborba': 1}

In [ ]:
tweets[0].get_sentiment()

'Negative'

In [ ]:
tweets[0].get_mention()

['HDataSystems']

In [ ]:
tweets[0].get_hashtags()

['hdatasystems', 'Artificia']

In [ ]:
file2 = pd.read_json("json-fixer.json")
data2 = pd.DataFrame(file2)
data2

,id,AuthorLocation,CreatedAt,RetweetCount,TweetLanguage,TweetText
0,1415291947560828928,Mysore and BERLIN,2021-07-14T12:47:49Z,2,en,RT @HDataSystems: Artificial Intelligence and ...
1,1415291877897605120,,2021-07-14T12:47:33Z,246,en,RT @adgpi: Army Technology Board conducted the...
2,1415291886860967936,,2021-07-14T12:47:35Z,1,en,"RT @pacorjo: According to a recent survey, the..."
3,1421423964845395968,"Torremolinos, España",2021-07-31T10:54:16Z,17,en,RT @marcusborba: Artificial Intelligence May F...
4,1421423964845395968,"Somewhere, Earth",2021-07-31T15:45:42Z,12,en,Just finished my work for the day. Time to rel...
5,1421423964845395968,"Paradise City, USA",2021-07-31T12:30:00Z,50,en,Feeling grateful for the little things in life...
6,1421423964845395968,"Nowhereville, Nowhere",2021-07-31T10:54:16Z,5,en,Mondays are the worst! Can't believe the weeke...

In [ ]:
#data2 = data.sort_values(by="RetweetCount",ascending=False)
#data2